In [1]:
pip install Flask-SQLAlchemy

Requirement already satisfied: Flask-SQLAlchemy in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (2.5.1)
Requirement already satisfied: SQLAlchemy>=0.8.0 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from Flask-SQLAlchemy) (1.4.2)
Requirement already satisfied: Flask>=0.10 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from Flask-SQLAlchemy) (1.1.2)
Requirement already satisfied: greenlet!=0.4.17; python_version >= "3" in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from SQLAlchemy>=0.8.0->Flask-SQLAlchemy) (1.0.0)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from Flask>=0.10->Flask-SQLAlchemy) (1.1.0)
Requirement already satisfied: click>=5.1 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from Flask>=0.10->Flask-SQLAlchemy) (7.1.2)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from Flask>=0.10->Flask-SQLAlchemy) (1.0.1)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from Flask>=0.10->Flask-SQLAlchemy) (2.11.2)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from Jinja2>=2.10.1->Flask>=0.10->Flask-SQLAlchemy) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.2.3; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\users\lenovo\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [2]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (2.8.6)

WARNING: You are using pip version 20.2.3; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\users\lenovo\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [3]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine

db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': 'Sdf4$2;d-d30pp', # пароль
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

engine = create_engine(connection_string)

In [4]:
query = '''
    select *
    from dash_visits
    '''

In [5]:
dash_visits  = pd.io.sql.read_sql(query, con = engine)

In [6]:
dash_visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30745 entries, 0 to 30744
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   record_id     30745 non-null  int64
 1   item_topic    30745 non-null  object
 2   source_topic  30745 non-null  object
 3   age_segment   30745 non-null  object
 4   dt            30745 non-null  datetime64[ns]
 5   visits        30745 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 1.4+ MB

In [7]:
dash_visits.head(10)

   record_id item_topic source_topic age_segment                  dt  visits
0    1040597     Деньги         Авто       18-25 2019-09-24 18:32:00       3
1    1040598     Деньги         Авто       18-25 2019-09-24 18:35:00       1
2    1040599     Деньги         Авто       18-25 2019-09-24 18:54:00       4
3    1040600     Деньги         Авто       18-25 2019-09-24 18:55:00      17
4    1040601     Деньги         Авто       18-25 2019-09-24 18:56:00      27
5    1040602     Деньги         Авто       18-25 2019-09-24 18:57:00      22
6    1040603     Деньги         Авто       18-25 2019-09-24 18:58:00      24
7    1040604     Деньги         Авто       18-25 2019-09-24 18:59:00      20
8    1040605     Деньги         Авто       18-25 2019-09-24 19:00:00       5
9    1040606     Деньги         Авто       26-30 2019-09-24 18:29:00       1

In [8]:
dash_visits.to_csv('dash_visits.csv', index=False, sep = ';', encoding = 'UTF-8')

## Ссылка на дашборд

https://public.tableau.com/profile/anzhelika.abushkina#!/vizhome/Dashboard2_AbushkinaA/sheet4?publish=yes